[flake8]
exclude = */docs/*,*/.tox/*,*/.venv/*, migrations, __init__.py, manage.py, */settings/*
max-line-length = 100

# E12x continuation line indentation
# E251 no spaces around keyword / parameter equals
# E303 too many blank lines (3)
ignore =
    E12,E251,E303,
    C101,
    WPS226,WPS400,WPS306,WPS221,WPS326,WPS432,WPS305,WPS441,WPS440,WPS335,WPS110,WPS229,WPS210,WPS338,
    D106,D105,
    DAR101,DAR201,DAR401,
    TAE002,

per-file-ignores =
    tests*.py:
        # D101 Missing docstring in public class
        D100,
        # D101 Missing docstring in public class
        D101,
        # D102 Missing docstring in public method
        D102,
        # WPS213 Found too many expressions
        WPS213,
        # WPS230 Found too many public instance attributes
        WPS230
