[flake8]
exclude = */docs/*,*/.tox/*,*/.venv/*, migrations, __init__.py, manage.py, */settings/*
max-line-length = 100

# E12x continuation line indentation
# E251 no spaces around keyword / parameter equals
# E303 too many blank lines (3)
ignore = E12,E251,E303,C101,WPS226,WPS400,WPS306,D106,WPS432,WPS305,D105,WPS221,WPS326
