[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
isort = "*"
flake8 = "*"

[packages]
django = "*"
psycopg2-binary = "*"
uwsgi = "*"
uwsgi-env = "*"
django-cors-headers = "*"
drf-yasg = "*"
pydantic = "*"
django-rest-auth = "*"
dj-database-url = "*"

[requires]
python_version = "3.8"
